body {
	margin: 0;
}

.division {
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow: hidden;
}

.background {
	background: black;
	opacity: 0.7;
	height: 100%;
}

.img {
	text-align: center;
	width: auto;
	height: 100%;
	position: fixed;
	top: 0;
	left: 30%;
	/*right: 30vw;*/
}

.img img {
	text-align: center;
	width: auto;
	height: 100%;

}

